## Problem 2 - Plotting temperatures (7 points)

In this problem we will  plot monthly mean temperatures from the Helsinki-Vantaa airpot for the past 30 years.

The final output should look like this:
![line plot](img/temp_line_plot.png)

## Input data

File `data/helsinki-vantaa.csv` monthly average temperatures from Helsinki Vantaa airport. Column descriptions:

- `DATE`: YEAR-MONTH-DAY (the time stamp contains the first day of each month, but values in other columns are average values for the whole month!)
- `USAF`: Station number
- `TEMP_F`: Monthly mean temperature in Fahrenheit 
- `TEMP_C`: Monthly mean temperature in Celsius
- `REF_TEMP_C`: Long term average in Celsius (for the period 1988-2018)
- `DIFF_C`: Difference between monthly mean and long term average in Celsius

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-7-problem-2.ipynb` file (this file).
    - **Copy/paste cells in this notebook**. We use an automated grading system that will fail if there are copies of code cells.
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Loading the data file and using the dates as the index
- Selecting the data for the 30-year period as described
- Creating a line plot of the data with the specified format
- Adding a title and axis labels to the plot
- Saving a copy of the plot as a PNG file and commiting it to your repo
- Including comments that explain what most lines in the code do

### Part 1 (1 point)

Load the Helsinki temperature data from the file `data/helsinki-vantaa.csv`.

- Read the data into a variable called `data` using pandas
- Parse the dates from the column `'DATE'` and set the dates as the index in the DataFrame

In [76]:
import pandas as pd
# reading the csv file to df
data = pd.read_csv('~/work/exercises/exercise-7-hennaylimaa/data/helsinki-vantaa.csv')

# converts date column to datetime
data['DATE'] = pd.to_datetime(data.DATE)
# removes useless day parts from date
data['DATE'] = data['DATE'].dt.strftime('%Y-%m')

# sorts column date so it is in time order from 1952 to 2019
data = data.sort_values('DATE')

# sets date as index of dataframe
data = data.set_index('DATE')

In [77]:
# This test print should print first five rows
print(data.head())

            USAF     TEMP_F    TEMP_C  REF_TEMP_C    DIFF_C
DATE
1952-01  29740.0  28.347826 -2.028986   -4.936650  2.907665
1952-02  29740.0  24.910714 -3.938492   -5.656795  1.718303
1952-03  29740.0  14.319328 -9.822596   -1.881240 -7.941355
1952-04  29740.0  39.364407  4.091337    3.927530  0.163807
1952-05  29740.0  44.932773  7.184874   10.421878 -3.237004

In [78]:
# Check the number of rows in the data frame
print(len(data))

706

### Part 2 (2 points)

Select data for the 30-year period (January 1988 to December 2018).

- Store the selection in a new variable `selection`

In [79]:
# selects from 1988-01 to 2018-12 from dataframes index column date, this can be done because df is sorted before
selection = data.loc['1988-01' : '2018-12']

In [80]:
# Check that the data was read in correctly:
selection.head()

            USAF     TEMP_F     TEMP_C  REF_TEMP_C    DIFF_C
DATE
1988-01  29740.0  27.404003  -2.553332   -4.936650  2.383318
1988-02  29740.0  24.830299  -3.983167   -5.656795  1.673628
1988-03  29740.0  26.399381  -3.111455   -1.881240 -1.230215
1988-04  29740.0  34.909643   1.616468    3.927530 -2.311061
1988-05  29740.0  53.832024  12.128902   10.421878  1.707024

In [81]:
# Check how many rows of data you selected:
print(f'Number of rows: {len(selection)}')

Number of rows: 372

### Part 3 (4 points)

#### Part 3.1

Create a line plot that displays the temperatures (`TEMP_C`) for each month in the 30-year time period with the following format:
     
- Set the figure size

    - Create a figure object and use the `figsize` parameter. 
    - The example figure uses `figsize=(14,6)` (you can experiment with other figure sizes if you like!)

- Adjust the line style

    - solid line 
    - black color
    - round markers
     
- Add a title and axis labels

    - Title: `'Helsinki-Vantaa Airport'` 
    - X-label: `'Time'`
    - Y-label: `'Temperature (Celsius)'`

#### Part 3.2

Save your figure as PNG file called `temp_line_plot.png`.

In [ ]:
%matplotlib inline
# YOUR CODE HERE
raise NotImplementedError()

# Set output file name
outputfp = None

# Save plot as image
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
import os

#Check that output file exists (also open the file and check that the plot looks ok!)
os.path.exists(outputfp)

**REMINDER**: Don't forget to upload your figure and the modified notebook into your personal GitHub repository!

### Done!

### Optional extra task: An interactive plot (0 points)

Create an interactive version of the monthly temperatures using [Pandas Bokeh](https://github.com/PatrikHlobil/Pandas-Bokeh)!

In [ ]:
# Import and enable pandas bokeh in this notebook

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Plot an interactive visualization of the monthly temperatures. 
# Note! You might have to re-order the data before plotting.

# YOUR CODE HERE
raise NotImplementedError()